html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
}

.toasts-container {
  position: fixed;
  height: auto;
  z-index: 1;
  width: 100%;
  bottom: 30px;
}

.toast-wrapper {
/*  visibility: hidden;*/
  height: 0;
  color: white;
  padding: 10px;
  margin-top: 1px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.toast-wrapper.show {
/*  visibility: visible;*/
  height: 30px;
}
.toast-wrapper.hide {
/*  visibility: hidden;*/
  height: 0;
  transition: 1s ease-in-out;
}

svg {
  fill: white;
  width: 24px;
  height: 24px;
}

.success {
  background-color: #3adb76;
}

.error {
  background-color: #cc4b37;
}

.info {
  background-color: #1779ba;
}

.attention {
  background-color: #ffae00;
}

.toast-message {
  font-weight: bold;
  flex-grow: 1;
  line-height: 1.2;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
}

.toast-close {
  opacity: 0.4;
}
.toast-close:hover {
  opacity: 1;
  cursor: pointer;
}
